<nav>
  <img src="https://s3-us-west-1.amazonaws.com/rombumon/images/rombuheaderimg.png" alt="Header Logo on the navigation for Rombu">
  <p id="trigger-overlay">Menu</p>
</nav>
<div class="overlay overlay-door">
  <button type="button" class="overlay-close">Close</button>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Work</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
