<nav>
  <img src="https://s3-us-west-1.amazonaws.com/rombumon/images/rombuheaderimg.png" alt="Header Logo on the navigation for Rombu">
  <p id="trigger-overlay">Menu</p>
</nav>
 <div class = "navigation">
  <div class="overlay overlay-door" "navigation__overlay">
    <button type="button" class="overlay-close">Close</button>
    <nav class = "navigation__nav">
      <ul class = "navigation__list">
        <li class = "navigation__item"><a href="/" class = "navigation__link">Home</a></li>
        <li class = "navigation__item"><a href="/about" class = "navigation__link">About</a></li>
        <li class = "navigation__item"><a href="/portfolio" class = "navigation__link">Work</a></li>
        <li class = "navigation__item"><a href="/contact" class = "navigation__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
