<h2 style="line-height:1.2em; font-size:48px;" class="font_2"><span style="font-size:48px;"><span style="line-height:1.2em;"><span ><span><span style="font-weight:bold;"><span>Terms of Use &amp; Privacy Policy</span></span></span></span></span></span></h2>
<div style="left: 48px; width: 900px; position: absolute; top: 123px;" class="txtNew" id="WRchTxtl-1buy">
  <p style="line-height:1.4em;" class="font_8"><span class="color_21"><span style="line-height:1.4em;">All media displayd on this website is copyrighted 2015 by Rombu, LLC, associated brands and additional copyright holders. &nbsp;</span></span>
  </p>

  <p style="line-height:1.4em;" class="font_8">&nbsp;</p>

  <p style="line-height:1.4em;" class="font_8"><span class="color_21"><span style="line-height:1.4em;">All media displayed on this website was written, produced and/or maniuplated by Rombu Creative's creative directors Mark Roemer and Derek Doublin unless otherwise stated in the description. &nbsp;</span></span>
  </p>
</div>
