<div class="m-header scene_element scene_element--fadeinup">
  	<div class="container">
    	<div class="row">
     		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<h1>About Rombu</h1>
        		<img src="https://s3-us-west-1.amazonaws.com/rombumon/images/rombuheaderimg2.png" alt="Logo For Rombu">
        	</div>
        </div>
    </div>
</div>

<section class="section-about">
    <div class = "container-fluid section-about--container-1">
        <div class = "row about-row-1">
            <div class="col-sm-12">
              <img src="/images/rombulogo4.png" alt="horse" class = "img-responsive horse-image">

                <p class = "about-text--top col-sm-6">Rombu is a full service production company that works with some of the most innovative brands in the world.</p>
            </div>
        </div>
        <div class = "row about-row-2">
            <div class="col-sm-8">
                <p class = "about-text--bottom">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aut odio illum molestiae, a mollitia eaque dicta! Itaque, dignissimos fugiat at doloremque. In ullam ducimus, libero earum voluptas dolorem amet.</p>
                </div>
        
        </div>
    </div>
        <row class="row"></row>



    </div>
</section>



      


