<div class="m-header scene_element scene_element--fadeinup">
  	<div class="container">
    	<div class="row">
     		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		<h1>About Rombu</h1>
        		<img src="https://s3-us-west-1.amazonaws.com/rombumon/images/rombuheaderimg2.png" alt="Logo For Rombu">
        	</div>
        </div>
    </div>
</div>

		<div class = "row">
			<div class = "col-1-of-3">
				<div class="__horse">
        			<img src="/images/rombulogo4.png" alt="horse" class = "img-responsive __horse--image" height = "160">
        		</div>
        	
        	</div>
		</div>

      


