<h2><span><span><span ><span><span><span>Terms of Use &amp; Privacy Policy</span></span></span></span></span></span></h2>
<div>
  <p><span><span>All media displayd on this website is copyrighted 2015 by Rombu, LLC, associated brands and additional copyright holders. &nbsp;</span></span>
  </p>

  <p style="line-height:1.4em;" class="font_8">&nbsp;</p>

  <p><span class="color_21"><span>All media displayed on this website was written, produced and/or maniuplated by Rombu Creative's creative directors Mark Roemer and Derek Doublin unless otherwise stated in the description. &nbsp;</span></span>
  </p>
</div>
