
//google fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900');

$font-stack: Rubik, sans-serif;

html {
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

body {
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
  font-family: $font-stack;
  margin: $center-margin;
  background-size: cover;
  background-position: center;
  text-align: center;
}